# URL base del API SQL (Azure App Service)
VITE_API_BASE_URL=https://TU-API-SQL.azurewebsites.net/api

# URL base del API MongoDB (Azure App Service para mensajería)
VITE_MONGO_API_BASE_URL=https://TU-API-MONGO.azurewebsites.net/api
