VITE_API_BASE_URL=https://nutritecsqlapi-b6hhakbta2g4e3fc.canadacentral-01.azurewebsites.net/api
VITE_MONGO_API_BASE_URL=https://nutritecmongoapi-f4f9c6hubfd2f0hd.canadacentral-01.azurewebsites.net/api